.back-button {
    background-color: white;
    width: 9rem;
    height: 3.5rem;
    position: fixed;
    right: 0;
    top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3rem 0 0 3rem;
    animation-name: filterIntro;
    animation-duration: 1s;
    font-size: 20px;
    color: black;

    &:hover {
        background-color: lightblue;
        font-weight: bolder;
    }
}

@keyframes filterIntro {
    from {
        right: -64%;
    }

    to {
        right: 0;
    }
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 4rem;

    @media all and (max-width:768px) {
        padding: 3rem;
        flex-direction: column-reverse;
    }

    @media all and (max-width:500px) {
        padding: 2rem 1rem;
    }
}

.comic-picture {
    width: 40%;

    @media all and (max-width:768px) {
        width: 100%;
    }
}

.comic-detail-card {
    padding-left: 2rem;
    width: 60%;

    @media all and (max-width:768px) {
        width: 100%;
        padding-left: 0;
        margin-bottom: 2rem;
    }
}

.card-title {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.card-body {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;

    @media all and (max-width:500px) {
        padding: 1.5rem;
    }
}

.text-bolder {
    font-weight: bolder;
}