.main_header {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: black;
    padding-bottom: 1rem;

    @media all and (max-width:768px) {
        padding-bottom: 2rem;
    }

    @media all and (max-width:500px) {
        padding-bottom: 1rem;
    }
}

.main_picture {
    height: 100%;
    border-radius: 0 0 3rem 3rem;
    animation-name: pictureIntro;
    animation-duration: 2s;

    @media all and (max-width:500px) {
        height: 67%;
        border-radius: 0;
        animation-name: none;
    }

}

@keyframes pictureIntro {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

.main_title {
    text-transform: uppercase;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.5rem;
    animation: shadow 2s ease-in-out infinite;

    @media all and (max-width:768px) {
        font-size: 3.2rem;
        padding-top: 1rem;
    }

    @media all and (max-width:500px) {
        text-align: center;
        font-size: 2.5rem;
    }

}



@keyframes shadow {
    33% {
        text-shadow: 0 0 8px #979dac,
            10px 10px 10px #AEAEC040
    }

    50% {
        text-shadow: 0 0 8px #979dac,
            10px 10px 10px #AEAEC040
    }

    66.67% {
        text-shadow: 0 0 8px #979dac,
            10px 10px 10px #AEAEC040
    }
}